<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>friends</key>
		<array>
			<dict>
				<key>icon</key>
				<string>001.png</string>
				<key>intro</key>
				<string>唯一重要的是：我们做的。</string>
				<key>name</key>
				<string>千寻</string>
				<key>vip</key>
				<integer>1</integer>
				<key>isOnline</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>005.png</string>
				<key>intro</key>
				<string>拿什么来拯救。。。。</string>
				<key>name</key>
				<string>hihg</string>
				<key>vip</key>
				<integer>0</integer>
				<key>isOnline</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>007.png</string>
				<key>intro</key>
				<string>强者才懂得斗争；弱者没有失败的资格，而是生来就是被征服的。</string>
				<key>name</key>
				<string>珊珊</string>
				<key>vip</key>
				<integer>1</integer>
				<key>isOnline</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>003.png</string>
				<key>intro</key>
				<string>伟大的成就并非源自一时冲动，而是由一系列小事汇聚而成的。</string>
				<key>name</key>
				<string>坚强的宝</string>
				<key>vip</key>
				<integer>1</integer>
				<key>isOnline</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>004.png</string>
				<key>intro</key>
				<string>永远都要做最好的自己，而不是第二好的别人。</string>
				<key>name</key>
				<string>天空</string>
				<key>vip</key>
				<integer>0</integer>
				<key>isOnline</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>005.png</string>
				<key>intro</key>
				<string>别让别人告诉你，你成不了才！如果你有梦想的话，就要去捍卫！</string>
				<key>name</key>
				<string>金色微风</string>
				<key>vip</key>
				<integer>1</integer>
				<key>isOnline</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>008.png</string>
				<key>intro</key>
				<string>当我们踏上战场，我必将首先发起冲锋，也必然坚守到最后。</string>
				<key>name</key>
				<string>大炮哥</string>
				<key>vip</key>
				<integer>1</integer>
				<key>isOnline</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>002.png</string>
				<key>intro</key>
				<string></string>
				<key>name</key>
				<string>借调</string>
				<key>vip</key>
				<integer>0</integer>
				<key>isOnline</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>010.png</string>
				<key>intro</key>
				<string>当我们踏上战场，我必将首先发起冲锋，也必然坚守到最后。</string>
				<key>name</key>
				<string>哈哈</string>
				<key>vip</key>
				<integer>1</integer>
				<key>isOnline</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>006.png</string>
				<key>intro</key>
				<string>任何值得做的事就值得把它做好！</string>
				<key>name</key>
				<string>绿子</string>
				<key>vip</key>
				<integer>0</integer>
				<key>isOnline</key>
				<integer>1</integer>
			</dict>
		</array>
		<key>name</key>
		<string>我的好友</string>
		<key>online</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>friends</key>
		<array>
			<dict>
				<key>icon</key>
				<string>003.png</string>
				<key>intro</key>
				<string>小学好友-0的个性签名就是这么拽</string>
				<key>name</key>
				<string>小学好友-0</string>
				<key>vip</key>
				<integer>0</integer>
				<key>isOnline</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>002.png</string>
				<key>intro</key>
				<string>小学好友-1的个性签名就是这么拽</string>
				<key>name</key>
				<string>小学好友-1</string>
				<key>vip</key>
				<integer>0</integer>
				<key>isOnline</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>003.png</string>
				<key>intro</key>
				<string>小学好友-2的个性签名就是这么拽</string>
				<key>name</key>
				<string>小学好友-2</string>
				<key>vip</key>
				<integer>0</integer>
				<key>isOnline</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>009.png</string>
				<key>intro</key>
				<string>小学好友-3的个性签名就是这么拽</string>
				<key>name</key>
				<string>小学好友-3</string>
				<key>vip</key>
				<integer>1</integer>
				<key>isOnline</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>005.png</string>
				<key>intro</key>
				<string>小学好友-4的个性签名就是这么拽</string>
				<key>name</key>
				<string>小学好友-4</string>
				<key>vip</key>
				<integer>1</integer>
				<key>isOnline</key>
				<integer>0</integer>
			</dict>
		</array>
		<key>name</key>
		<string>小学</string>
		<key>online</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>friends</key>
		<array>
			<dict>
				<key>icon</key>
				<string>001.png</string>
				<key>intro</key>
				<string>初中好友-0的个性签名就是这么拽</string>
				<key>name</key>
				<string>初中好友-0</string>
				<key>vip</key>
				<integer>0</integer>
				<key>isOnline</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>003.png</string>
				<key>intro</key>
				<string>初中好友-1的个性签名就是这么拽</string>
				<key>name</key>
				<string>初中好友-1</string>
				<key>vip</key>
				<integer>1</integer>
				<key>isOnline</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>003.png</string>
				<key>intro</key>
				<string>初中好友-2的个性签名就是这么拽</string>
				<key>name</key>
				<string>初中好友-2</string>
				<key>vip</key>
				<integer>1</integer>
				<key>isOnline</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>006.png</string>
				<key>intro</key>
				<string>初中好友-3的个性签名就是这么拽</string>
				<key>name</key>
				<string>初中好友-3</string>
				<key>vip</key>
				<integer>0</integer>
				<key>isOnline</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>008.png</string>
				<key>intro</key>
				<string>初中好友-4的个性签名就是这么拽</string>
				<key>name</key>
				<string>初中好友-4</string>
				<key>vip</key>
				<integer>0</integer>
				<key>isOnline</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>009.png</string>
				<key>intro</key>
				<string>初中好友-5的个性签名就是这么拽</string>
				<key>name</key>
				<string>初中好友-5</string>
				<key>vip</key>
				<integer>0</integer>
				<key>isOnline</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>010.png</string>
				<key>intro</key>
				<string>初中好友-6的个性签名就是这么拽</string>
				<key>name</key>
				<string>初中好友-6</string>
				<key>vip</key>
				<integer>0</integer>
				<key>isOnline</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>003.png</string>
				<key>intro</key>
				<string>初中好友-7的个性签名就是这么拽</string>
				<key>name</key>
				<string>初中好友-7</string>
				<key>vip</key>
				<integer>0</integer>
				<key>isOnline</key>
				<integer>1</integer>
			</dict>
		</array>
		<key>name</key>
		<string>初中</string>
		<key>online</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>friends</key>
		<array>
			<dict>
				<key>icon</key>
				<string>009.png</string>
				<key>intro</key>
				<string>高中好友-0的个性签名就是这么拽</string>
				<key>name</key>
				<string>高中好友-0</string>
				<key>vip</key>
				<integer>0</integer>
				<key>isOnline</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>002.png</string>
				<key>intro</key>
				<string>高中好友-1的个性签名就是这么拽</string>
				<key>name</key>
				<string>高中好友-1</string>
				<key>vip</key>
				<integer>1</integer>
				<key>isOnline</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>004.png</string>
				<key>intro</key>
				<string>高中好友-2的个性签名就是这么拽</string>
				<key>name</key>
				<string>高中好友-2</string>
				<key>vip</key>
				<integer>0</integer>
				<key>isOnline</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>008.png</string>
				<key>intro</key>
				<string>高中好友-3的个性签名就是这么拽</string>
				<key>name</key>
				<string>高中好友-3</string>
				<key>vip</key>
				<integer>1</integer>
				<key>isOnline</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>002.png</string>
				<key>intro</key>
				<string>高中好友-4的个性签名就是这么拽</string>
				<key>name</key>
				<string>高中好友-4</string>
				<key>vip</key>
				<integer>0</integer>
				<key>isOnline</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>007.png</string>
				<key>intro</key>
				<string>高中好友-5的个性签名就是这么拽</string>
				<key>name</key>
				<string>高中好友-5</string>
				<key>vip</key>
				<integer>1</integer>
				<key>isOnline</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>005.png</string>
				<key>intro</key>
				<string>高中好友-6的个性签名就是这么拽</string>
				<key>name</key>
				<string>高中好友-6</string>
				<key>vip</key>
				<integer>0</integer>
				<key>isOnline</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>007.png</string>
				<key>intro</key>
				<string>高中好友-7的个性签名就是这么拽</string>
				<key>name</key>
				<string>高中好友-7</string>
				<key>vip</key>
				<integer>0</integer>
				<key>isOnline</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>001.png</string>
				<key>intro</key>
				<string>高中好友-8的个性签名就是这么拽</string>
				<key>name</key>
				<string>高中好友-8</string>
				<key>vip</key>
				<integer>1</integer>
				<key>isOnline</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>002.png</string>
				<key>intro</key>
				<string>高中好友-9的个性签名就是这么拽</string>
				<key>name</key>
				<string>高中好友-9</string>
				<key>vip</key>
				<integer>1</integer>
				<key>isOnline</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>001.png</string>
				<key>intro</key>
				<string>高中好友-10的个性签名就是这么拽</string>
				<key>name</key>
				<string>高中好友-10</string>
				<key>vip</key>
				<integer>1</integer>
				<key>isOnline</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>009.png</string>
				<key>intro</key>
				<string>高中好友-11的个性签名就是这么拽</string>
				<key>name</key>
				<string>高中好友-11</string>
				<key>vip</key>
				<integer>0</integer>
				<key>isOnline</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>007.png</string>
				<key>intro</key>
				<string>高中好友-12的个性签名就是这么拽</string>
				<key>name</key>
				<string>高中好友-12</string>
				<key>vip</key>
				<integer>0</integer>
				<key>isOnline</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>002.png</string>
				<key>intro</key>
				<string>高中好友-13的个性签名就是这么拽</string>
				<key>name</key>
				<string>高中好友-13</string>
				<key>vip</key>
				<integer>1</integer>
				<key>isOnline</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>005.png</string>
				<key>intro</key>
				<string>高中好友-14的个性签名就是这么拽</string>
				<key>name</key>
				<string>高中好友-14</string>
				<key>vip</key>
				<integer>0</integer>
				<key>isOnline</key>
				<integer>1</integer>
			</dict>
		</array>
		<key>name</key>
		<string>高中</string>
		<key>online</key>
		<integer>11</integer>
	</dict>
	<dict>
		<key>friends</key>
		<array>
			<dict>
				<key>icon</key>
				<string>001.png</string>
				<key>intro</key>
				<string>唯一重要的是：我们做的。</string>
				<key>name</key>
				<string>千寻</string>
				<key>vip</key>
				<integer>1</integer>
				<key>isOnline</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>005.png</string>
				<key>intro</key>
				<string>拿什么来拯救。。。。</string>
				<key>name</key>
				<string>hihg</string>
				<key>vip</key>
				<integer>0</integer>
				<key>isOnline</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>007.png</string>
				<key>intro</key>
				<string>强者才懂得斗争；弱者没有失败的资格，而是生来就是被征服的。</string>
				<key>name</key>
				<string>珊珊</string>
				<key>vip</key>
				<integer>1</integer>
				<key>isOnline</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>003.png</string>
				<key>intro</key>
				<string>伟大的成就并非源自一时冲动，而是由一系列小事汇聚而成的。</string>
				<key>name</key>
				<string>坚强的宝</string>
				<key>vip</key>
				<integer>1</integer>
				<key>isOnline</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>004.png</string>
				<key>intro</key>
				<string>永远都要做最好的自己，而不是第二好的别人。</string>
				<key>name</key>
				<string>天空</string>
				<key>vip</key>
				<integer>0</integer>
				<key>isOnline</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>005.png</string>
				<key>intro</key>
				<string>别让别人告诉你，你成不了才！如果你有梦想的话，就要去捍卫！</string>
				<key>name</key>
				<string>金色微风</string>
				<key>vip</key>
				<integer>1</integer>
				<key>isOnline</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>008.png</string>
				<key>intro</key>
				<string>当我们踏上战场，我必将首先发起冲锋，也必然坚守到最后。</string>
				<key>name</key>
				<string>大炮哥</string>
				<key>vip</key>
				<integer>1</integer>
				<key>isOnline</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>002.png</string>
				<key>intro</key>
				<string></string>
				<key>name</key>
				<string>借调</string>
				<key>vip</key>
				<integer>0</integer>
				<key>isOnline</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>010.png</string>
				<key>intro</key>
				<string>当我们踏上战场，我必将首先发起冲锋，也必然坚守到最后。</string>
				<key>name</key>
				<string>哈哈</string>
				<key>vip</key>
				<integer>1</integer>
				<key>isOnline</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>006.png</string>
				<key>intro</key>
				<string>任何值得做的事就值得把它做好！</string>
				<key>name</key>
				<string>绿子</string>
				<key>vip</key>
				<integer>0</integer>
				<key>isOnline</key>
				<integer>1</integer>
			</dict>
		</array>
		<key>name</key>
		<string>大学</string>
		<key>online</key>
		<integer>19</integer>
	</dict>
	<dict>
		<key>friends</key>
		<array>
			<dict>
				<key>icon</key>
				<string>009.png</string>
				<key>intro</key>
				<string>亲戚好友-0的个性签名就是这么拽</string>
				<key>name</key>
				<string>亲戚好友-0</string>
				<key>vip</key>
				<integer>1</integer>
				<key>isOnline</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>007.png</string>
				<key>intro</key>
				<string>亲戚好友-1的个性签名就是这么拽</string>
				<key>name</key>
				<string>亲戚好友-1</string>
				<key>vip</key>
				<integer>0</integer>
				<key>isOnline</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>005.png</string>
				<key>intro</key>
				<string>亲戚好友-2的个性签名就是这么拽</string>
				<key>name</key>
				<string>亲戚好友-2</string>
				<key>vip</key>
				<integer>1</integer>
				<key>isOnline</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>004.png</string>
				<key>intro</key>
				<string>亲戚好友-3的个性签名就是这么拽</string>
				<key>name</key>
				<string>亲戚好友-3</string>
				<key>vip</key>
				<integer>0</integer>
				<key>isOnline</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>008.png</string>
				<key>intro</key>
				<string>亲戚好友-4的个性签名就是这么拽</string>
				<key>name</key>
				<string>亲戚好友-4</string>
				<key>vip</key>
				<integer>0</integer>
				<key>isOnline</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>002.png</string>
				<key>intro</key>
				<string>亲戚好友-5的个性签名就是这么拽</string>
				<key>name</key>
				<string>亲戚好友-5</string>
				<key>vip</key>
				<integer>0</integer>
				<key>isOnline</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>001.png</string>
				<key>intro</key>
				<string>亲戚好友-6的个性签名就是这么拽</string>
				<key>name</key>
				<string>亲戚好友-6</string>
				<key>vip</key>
				<integer>0</integer>
				<key>isOnline</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>006.png</string>
				<key>intro</key>
				<string>亲戚好友-7的个性签名就是这么拽</string>
				<key>name</key>
				<string>亲戚好友-7</string>
				<key>vip</key>
				<integer>0</integer>
				<key>isOnline</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>006.png</string>
				<key>intro</key>
				<string>亲戚好友-8的个性签名就是这么拽</string>
				<key>name</key>
				<string>亲戚好友-8</string>
				<key>vip</key>
				<integer>1</integer>
				<key>isOnline</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>004.png</string>
				<key>intro</key>
				<string>亲戚好友-9的个性签名就是这么拽</string>
				<key>name</key>
				<string>亲戚好友-9</string>
				<key>vip</key>
				<integer>1</integer>
				<key>isOnline</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>001.png</string>
				<key>intro</key>
				<string>亲戚好友-10的个性签名就是这么拽</string>
				<key>name</key>
				<string>亲戚好友-10</string>
				<key>vip</key>
				<integer>1</integer>
				<key>isOnline</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>007.png</string>
				<key>intro</key>
				<string>亲戚好友-11的个性签名就是这么拽</string>
				<key>name</key>
				<string>亲戚好友-11</string>
				<key>vip</key>
				<integer>0</integer>
				<key>isOnline</key>
				<integer>1</integer>
			</dict>
		</array>
		<key>name</key>
		<string>亲戚</string>
		<key>online</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>friends</key>
		<array>
			<dict>
				<key>icon</key>
				<string>009.png</string>
				<key>intro</key>
				<string>欠我钱的好友-0的个性签名就是这么拽</string>
				<key>name</key>
				<string>欠我钱的好友-0</string>
				<key>vip</key>
				<integer>1</integer>
				<key>isOnline</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>005.png</string>
				<key>intro</key>
				<string>欠我钱的好友-1的个性签名就是这么拽</string>
				<key>name</key>
				<string>欠我钱的好友-1</string>
				<key>vip</key>
				<integer>1</integer>
				<key>isOnline</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>006.png</string>
				<key>intro</key>
				<string>欠我钱的好友-2的个性签名就是这么拽</string>
				<key>name</key>
				<string>欠我钱的好友-2</string>
				<key>vip</key>
				<integer>0</integer>
				<key>isOnline</key>
				<integer>0</integer>
			</dict>
		</array>
		<key>name</key>
		<string>债务组</string>
		<key>online</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>friends</key>
		<array>
			<dict>
				<key>icon</key>
				<string>002.png</string>
				<key>intro</key>
				<string>蛋疼的好友-0的个性签名就是这么拽</string>
				<key>name</key>
				<string>蛋疼的好友-0</string>
				<key>vip</key>
				<integer>0</integer>
				<key>isOnline</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>007.png</string>
				<key>intro</key>
				<string>蛋疼的好友-1的个性签名就是这么拽</string>
				<key>name</key>
				<string>蛋疼的好友-1</string>
				<key>vip</key>
				<integer>1</integer>
				<key>isOnline</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>006.png</string>
				<key>intro</key>
				<string>蛋疼的好友-2的个性签名就是这么拽</string>
				<key>name</key>
				<string>蛋疼的好友-2</string>
				<key>vip</key>
				<integer>0</integer>
				<key>isOnline</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>003.png</string>
				<key>intro</key>
				<string>蛋疼的好友-3的个性签名就是这么拽</string>
				<key>name</key>
				<string>蛋疼的好友-3</string>
				<key>vip</key>
				<integer>0</integer>
				<key>isOnline</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>006.png</string>
				<key>intro</key>
				<string>蛋疼的好友-4的个性签名就是这么拽</string>
				<key>name</key>
				<string>蛋疼的好友-4</string>
				<key>vip</key>
				<integer>1</integer>
				<key>isOnline</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>005.png</string>
				<key>intro</key>
				<string>蛋疼的好友-5的个性签名就是这么拽</string>
				<key>name</key>
				<string>蛋疼的好友-5</string>
				<key>vip</key>
				<integer>0</integer>
				<key>isOnline</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>007.png</string>
				<key>intro</key>
				<string>蛋疼的好友-6的个性签名就是这么拽</string>
				<key>name</key>
				<string>蛋疼的好友-6</string>
				<key>vip</key>
				<integer>0</integer>
				<key>isOnline</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>004.png</string>
				<key>intro</key>
				<string>蛋疼的好友-7的个性签名就是这么拽</string>
				<key>name</key>
				<string>蛋疼的好友-7</string>
				<key>vip</key>
				<integer>0</integer>
				<key>isOnline</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>005.png</string>
				<key>intro</key>
				<string>蛋疼的好友-8的个性签名就是这么拽</string>
				<key>name</key>
				<string>蛋疼的好友-8</string>
				<key>vip</key>
				<integer>1</integer>
				<key>isOnline</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>005.png</string>
				<key>intro</key>
				<string>蛋疼的好友-9的个性签名就是这么拽</string>
				<key>name</key>
				<string>蛋疼的好友-9</string>
				<key>vip</key>
				<integer>0</integer>
				<key>isOnline</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>002.png</string>
				<key>intro</key>
				<string>蛋疼的好友-10的个性签名就是这么拽</string>
				<key>name</key>
				<string>蛋疼的好友-10</string>
				<key>vip</key>
				<integer>0</integer>
				<key>isOnline</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>008.png</string>
				<key>intro</key>
				<string>蛋疼的好友-11的个性签名就是这么拽</string>
				<key>name</key>
				<string>蛋疼的好友-11</string>
				<key>vip</key>
				<integer>0</integer>
				<key>isOnline</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>006.png</string>
				<key>intro</key>
				<string>蛋疼的好友-12的个性签名就是这么拽</string>
				<key>name</key>
				<string>蛋疼的好友-12</string>
				<key>vip</key>
				<integer>1</integer>
				<key>isOnline</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>005.png</string>
				<key>intro</key>
				<string>蛋疼的好友-13的个性签名就是这么拽</string>
				<key>name</key>
				<string>蛋疼的好友-13</string>
				<key>vip</key>
				<integer>1</integer>
				<key>isOnline</key>
				<integer>1</integer>
			</dict>
		</array>
		<key>name</key>
		<string>少一人</string>
		<key>online</key>
		<integer>6</integer>
	</dict>
	<dict>
		<key>friends</key>
		<array>
			<dict>
				<key>icon</key>
				<string>001.png</string>
				<key>intro</key>
				<string>有病的好友-0的个性签名就是这么拽</string>
				<key>name</key>
				<string>有病的好友-0</string>
				<key>vip</key>
				<integer>1</integer>
				<key>isOnline</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>008.png</string>
				<key>intro</key>
				<string>有病的好友-1的个性签名就是这么拽</string>
				<key>name</key>
				<string>有病的好友-1</string>
				<key>vip</key>
				<integer>0</integer>
				<key>isOnline</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>001.png</string>
				<key>intro</key>
				<string>有病的好友-2的个性签名就是这么拽</string>
				<key>name</key>
				<string>有病的好友-2</string>
				<key>vip</key>
				<integer>0</integer>
				<key>isOnline</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>002.png</string>
				<key>intro</key>
				<string>有病的好友-3的个性签名就是这么拽</string>
				<key>name</key>
				<string>有病的好友-3</string>
				<key>vip</key>
				<integer>0</integer>
				<key>isOnline</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>001.png</string>
				<key>intro</key>
				<string>有病的好友-4的个性签名就是这么拽</string>
				<key>name</key>
				<string>有病的好友-4</string>
				<key>vip</key>
				<integer>0</integer>
				<key>isOnline</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>007.png</string>
				<key>intro</key>
				<string>有病的好友-5的个性签名就是这么拽</string>
				<key>name</key>
				<string>有病的好友-5</string>
				<key>vip</key>
				<integer>1</integer>
				<key>isOnline</key>
				<integer>1</integer>
			</dict>
		</array>
		<key>name</key>
		<string>欢乐多</string>
		<key>online</key>
		<integer>6</integer>
	</dict>
	<dict>
		<key>friends</key>
		<array>
			<dict>
				<key>icon</key>
				<string>004.png</string>
				<key>intro</key>
				<string>傻B好友-0的个性签名就是这么拽</string>
				<key>name</key>
				<string>傻B好友-0</string>
				<key>vip</key>
				<integer>0</integer>
				<key>isOnline</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>003.png</string>
				<key>intro</key>
				<string>傻B好友-1的个性签名就是这么拽</string>
				<key>name</key>
				<string>傻B好友-1</string>
				<key>vip</key>
				<integer>1</integer>
				<key>isOnline</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>005.png</string>
				<key>intro</key>
				<string>傻B好友-2的个性签名就是这么拽</string>
				<key>name</key>
				<string>傻B好友-2</string>
				<key>vip</key>
				<integer>0</integer>
				<key>isOnline</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>001.png</string>
				<key>intro</key>
				<string>傻B好友-3的个性签名就是这么拽</string>
				<key>name</key>
				<string>傻B好友-3</string>
				<key>vip</key>
				<integer>0</integer>
				<key>isOnline</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>009.png</string>
				<key>intro</key>
				<string>傻B好友-4的个性签名就是这么拽</string>
				<key>name</key>
				<string>傻B好友-4</string>
				<key>vip</key>
				<integer>1</integer>
				<key>isOnline</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>007.png</string>
				<key>intro</key>
				<string>傻B好友-5的个性签名就是这么拽</string>
				<key>name</key>
				<string>傻B好友-5</string>
				<key>vip</key>
				<integer>1</integer>
				<key>isOnline</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>005.png</string>
				<key>intro</key>
				<string>傻B好友-6的个性签名就是这么拽</string>
				<key>name</key>
				<string>傻B好友-6</string>
				<key>vip</key>
				<integer>1</integer>
				<key>isOnline</key>
				<integer>1</integer>
			</dict>
		</array>
		<key>name</key>
		<string>天然呆</string>
		<key>online</key>
		<integer>5</integer>
	</dict>
	<dict>
		<key>friends</key>
		<array>
			<dict>
				<key>icon</key>
				<string>001.png</string>
				<key>intro</key>
				<string>2B好友-0的个性签名就是这么拽</string>
				<key>name</key>
				<string>2B好友-0</string>
				<key>vip</key>
				<integer>0</integer>
				<key>isOnline</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>009.png</string>
				<key>intro</key>
				<string>2B好友-1的个性签名就是这么拽</string>
				<key>name</key>
				<string>2B好友-1</string>
				<key>vip</key>
				<integer>0</integer>
				<key>isOnline</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>008.png</string>
				<key>intro</key>
				<string>2B好友-2的个性签名就是这么拽</string>
				<key>name</key>
				<string>2B好友-2</string>
				<key>vip</key>
				<integer>1</integer>
				<key>isOnline</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>004.png</string>
				<key>intro</key>
				<string>2B好友-3的个性签名就是这么拽</string>
				<key>name</key>
				<string>2B好友-3</string>
				<key>vip</key>
				<integer>0</integer>
				<key>isOnline</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>005.png</string>
				<key>intro</key>
				<string>3B好友-4的个性签名就是这么拽</string>
				<key>name</key>
				<string>3B好友-4</string>
				<key>vip</key>
				<integer>0</integer>
				<key>isOnline</key>
				<integer>0</integer>
			</dict>
		</array>
		<key>name</key>
		<string>铅笔的一种</string>
		<key>online</key>
		<integer>2</integer>
	</dict>
</array>
</plist>
